<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Jatin Sharma</h3>
                <!-- <p class="category">Photographer</p> -->
                <div class="content">
                    <div class="social-description">
                    </div>
                    <div class="social-description">
                         
                    </div>
                    <!-- <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <button (click)="addNew()" *ngIf="!isEditable">Add New</button>

    <div class="section">
        <div *ngIf="!isEditable" class="row">
            <div class="col-3" *ngFor="let images of allImages;">
                <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+images.fileName"  width= 200px; height= 200px;>
                <button (click)="showForm(images)" *ngIf="!isEditable">Edit</button>
                <button (click)="deleteFile(images)" *ngIf="!isEditable">Delete</button>
            </div>
        </div>

        <div *ngIf="isEditable" class="container">
            <button (click)="isEditable=!isEditable" *ngIf="isEditable">Back</button>
            <label for="fname">name:</label>
            <input type="text"  [(ngModel)]="name" ><br>
            <!-- <label for="lname">type:</label>
            <input type="text" [(ngModel)]="type" > -->
            <label for="lname">description:</label>
            <textarea type="text" [(ngModel)]="description" ></textarea>><br>

            <label for="lname">size:</label>
            <input type="text"  [(ngModel)]="size" >
            <label for="lname">suction:</label>
            <input type="text" [(ngModel)]="suction" ><br>

            <label for="lname">height:</label>
            <input type="text" [(ngModel)]="height" ><br>
            <label for="lname">color:</label>
            <input type="text"  [(ngModel)]="color" ><br>

            <label for="lname">housing:</label>
            <input type="text" [(ngModel)]="housing" ><br>
            <!-- <label for="lname">filter:</label>
            <input type="text" [(ngModel)]="filter" > -->


            <label for="lname">switch:</label>
            <input type="text" [(ngModel)]="switch" ><br>

            <label for="lname">filter:</label>
            <input type="text" [(ngModel)]="filter" ><br>

            <label for="lname">light:</label>
            <input type="text" [(ngModel)]="light" ><br>

            <label for="lname">finish:</label>
            <input type="text" [(ngModel)]="finish" ><br>

            <!-- <label for="lname">switch:</label>
            <input type="text" [(ngModel)]="switch" > -->

            <label for="lname">motorpower:</label>
            <input type="text"  [(ngModel)]="motorpower" ><br>
            <label for="lname">productdimension:</label>
            <input type="text" [(ngModel)]="productdimension" ><br>

            <label for="lname">warranty:</label>
            <input type="text" [(ngModel)]="warranty" ><br>
            <label for="lname">company:</label>
            <input type="text" [(ngModel)]="company" ><br>

            <label for="lname">Main File Name:</label>
            <input  type="file" (change)="onFileSelected($event, i)"/>
            <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+allImages?.selectedFile?.name"  width= 200px; height= 200px;>
            <br>

            <label for="lname">Other File Name 1:</label>
            <input  type="file" (change)="onOtherFileSelected($event, 0)"/>
            <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+otherImages[0]?.selectedFile?.name"  width= 200px; height= 200px;>
            <br>
            <label for="lname">Other File Name 2:</label>
            <input  type="file" (change)="onOtherFileSelected($event, 1)"/>
            <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+otherImages[1]?.selectedFile?.name"  width= 200px; height= 200px;>
            <br>
            <button (click)=onUpload(i) *ngIf="isEditable">Save</button>
        </div> 
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
