<div class="section">
    <div class="toggle-section">
        <div><h3 style="color: #d65e9f"><b>CHIMNEYS</b></h3></div>
        <div>
          <input type="checkbox" id="switch" /><label (click)="toggleIndex()" for="switch">Toggle</label>
        </div>
        <div> <h3 style="color: #bada55"><b>HOBS</b></h3></div>
      </div>
    <div class="container">
        <div id="images">
            <div class="row">

                <div class=" ">
                    <div class=""></div>
                    <div class="text-center">
                        <div class="" style="text-align: center;">
                            <div class="grid-container item"  >
                               <div *ngFor="let image of allImages" class="grid-item">
                                <a [routerLink]="['/examples/details/'+image._id]">
                                    <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+image.fileName" alt="Image" class="img-raised">
                                    <a class="btn btn-simple btn-primary btn-round">{{image.name}}</a>
                                </a>
                               </div>
                              
                               </div>
                              
                        </div>
                        <div *ngIf="allImages.length == 0" style="text-align: center;">
                            <div class="grid-container item">
                                <div class="grid-item">
                                    
                                </div>
                                <div class="grid-item">
                                    <h3>Please wait...</h3>
                                </div>
                                <div class="grid-item">
                                    <div class="loader"></div>
                              
                                </div>
                            </div>
                           
                       </div>
                    </div>
                </div>
               
            </div>
        </div>
      </div>
    </div>
