<div class="section">
    <div class="container">
        <div id="images">
            <div class="row">

                <div class=" ">
                    <div class=""></div>
                    <div class="text-center">
                        <div class="" style="text-align: center;">
                            <!-- <h5></h5>{{productType}} -->
                            <div class="grid-container item"  >
                               <div *ngFor="let image of allImages" class="grid-item">
                                <a [routerLink]="['/examples/details/'+image._id]">
                                    <img [src]="'https://emmerich-images.s3.ap-south-1.amazonaws.com/'+image.fileName" alt="Image" class="img-raised">
                                    <a class="btn btn-simple btn-primary btn-round">{{image.name}}</a>
                                </a>
                               </div>
                               </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
      </div>
    </div>
